@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --vermelho-principal: #8E2424;
    --preto-principal: #101828;
    --cinza-claro: #667085;
    --footer-color: #98A2B3;
    
    --font_size-titulo-1-4: 48px;
    --font_size-titulo-2-3: 36px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
   width: 100vw;
   height: 80px;
  
  
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width:  100%;
    max-width: 1200px;
    padding: 10px;
    
}


.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: auto;
}

.login_area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
button{
    background-color: #8E2424;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 112px;
    height: 44px;
}
a{
    color: var(--cinza-claro);
    position: relative;
    transition: .2s ease-out;
}

li{
    height: 25px;
}

a::after{
    content: "";
    position: absolute;
    background: linear-gradient(to left,#8e2424de, rgb(255, 255, 255)) ;
    height: 2px;
    width: 0%;
    left: -5px;
    bottom: -1px;
    border-radius: 0px 20px 20px 0px ;
    transition: .2s ease-out;
    
}
a:hover{
    color: #101828;
    font-weight: 500;
    transition: .5s ease-in;
}
a:hover::after{
    transition: .3s ease-in;
    width: 100%;
    
}

.menu_{
   
   visibility: hidden;
}

.porque_somos_diferentes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 407px;
}

#p-1{
    color: #8E2424;
    font-weight: 600;
}

.porque_somos_diferentes h1{
    font-size: var(--font_size-titulo-1-4);
    font-weight: 600;
    color: #101828;
    text-align: center;
    width: 100%;
    max-width: 980px;
    margin: 20px;
   
}

.porque_somos_diferentes p{
color: #667085;
text-align: center;
font-weight: 400;
font-size: 20px;
line-height: 30px;
margin: 0px 50px;

}
.metricas{
     width: 100vw;
    max-width: 1200px;
    margin: auto;
    height: 288px;
    
}
.content{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    margin: auto;
    padding: 10px;
}
.metric-box{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 8px;
}
.metric-box h1{
    color: var(--vermelho-principal);
}

@media (max-width: 778px) {
    .menu{
      display: none;
    }
    .logo{
        font-size: 36px;
        font-weight: 400;
        transition: .3s ease;
    }
    .logo img{
        width: 40px;
        transition: .3s ease;
    }
    .login_area{
        display: none;
    }
    .menu_{
        display: flex;
        align-items: center;
            justify-content: center;
        visibility: visible;
       cursor: pointer;
       margin: 10px;
       font-size: 2em;
       transition: .3s ease;
     }

     p{
        text-align: justify;
     }

} 

@media (max-width: 360px) {
    .menu_, .logo {
        font-size: 1.5em;
        font-weight: 400;
    }
    .logo img{
        width: 1.2em;
    }
} 